.btn-primary {
    border: none;
    margin: 50px auto;
    display: block;
    background-color:cadetblue;

  }

.title {
  font-size: 130;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.error {
  font-size: 80;
  display: block;
  text-align: center;
  padding-left: 200;
  padding-right: 200;
}

.tip {
  font-size: 120;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-left: 20;
  padding-right: 20;
}