.btn-primary {
    border: none;
    margin: 50px auto;
    display: block;

  }

.title {
  font-size: 130;
  display: block;
  text-align: center;
}
.error {
  font-size: 80;
  display: block;
  text-align: center;
}

.tip {
  font-size: 120;
  font-weight: bold;
  display: block;
  text-align: center;
}