<!DOCTYPE html>




<html lang = "en">
    <head>
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="title">AnhPhu's Auto Color COVID Form</h1>
        <div>

            <div>
                <p class="tip">Tired of spending 2 minutes everytime you fill out a Color COVID test? this tool does it automatically for you in under 10 seconds.</p>
            </div>
            <div>
                <p class="tip">Tips are appreciated!! Venmo @anhphunguyen5</p>
            </div>
            <br>
            <div>
                <p id="loading_message" class="loading_message tip"></p>
            </div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <p class="tip">Color Account: (no account info is stored)</p>
                    <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
                </div>
                <div class="mb-3">
                    <input required class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div>
                    <p class="tip">COVID test picture:</p>
                    <input class="form-control mx-auto w-auto" type="file" id="file" name="file">
                </div>
                <br>
                <div>
                    <p class="tip">Or manually input your barcode & accession:</p>
                    <div class="mb-3">
                        <input pattern=".{10,10}" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="barcode" name="barcode" placeholder="Barcode (10 digits)" type="number">
                    </div>
                    <div class="mb-3">
                        <input pattern=".{5,5}" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="accession" name="accession" placeholder="Accession (5 digits)" type="number">
                    </div>
                </div>
                <div>
                    <!-- hitwebcounter Code START -->
                    <a href="https://www.hitwebcounter.com" target="_blank">
                    <img src="https://hitwebcounter.com/counter/counter.php?page=7944901&style=0024&nbdigits=5&type=page&initCount=34" title="Free Counter" Alt="web counter"   border="0" /></a>    
                </div>
                <div>
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
            </form>
            <hr>
            <p class="title">Take a picture of your COVID test with the numbers clearly shown like this:</p>
            <img class="img img-fluid" src="static/example.jpeg" alt="example image">
            <br> <hr> <br> <br> <br> <br>
            <footer class="tip">DISCLAIMER: Only use this if you are completely healthy and have no symptoms! If you do have symptoms, go through the form like normal.</footer>
            <script>
                document.querySelector('form').addEventListener('submit', function(event) {
                    document.querySelector('#loading_message').innerHTML = 'Loading...'
                });
            </script>
        </div>

    </body>
</html>

